@import "tailwindcss";
@plugin "daisyui" { 
  root: ":root"
}

@plugin "daisyui/theme" {
  name: "light-custom";
  default: true;
  prefersdark: true;
  color-scheme: light;

  --color-base-100: oklch(0.9612 0 0);
  --color-base-200: oklch(0.83 0.14 285);
  --color-base-300: oklch(0.72 0.2 285);
  --color-base-content: oklch(0.18 0.12 285);
  --color-primary: oklch(0.46 0.38 280);
  --color-primary-content: oklch(0.99 0.005 280);
  --color-secondary: oklch(0.6 0.32 290);
  --color-secondary-content: oklch(0.99 0.005 290);
  --color-accent: oklch(0.464 0 0);
  --color-accent-content: oklch(0.99 0.005 275);
  --color-neutral: oklch(0.52 0.15 283);
  --color-neutral-content: oklch(0.99 0.005 283);
  --color-info: oklch(0.58 0.28 200);
  --color-info-content: oklch(0.99 0.005 200);
  --color-success: oklch(0.6816 0.1412 156.04);
  --color-success-content: oklch(0.99 0.005 130);
  --color-warning: oklch(0.8 0.28 65);
  --color-warning-content: oklch(0.18 0.1 65);
  --color-error: oklch(0.55 0.32 10);
  --color-error-content: oklch(0.99 0.005 10);

  --radius-selector: 0.75rem;
  --radius-field: 0.375rem;
  --radius-box: 0.625rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;

  --glass-blur: 10px;
  --glass-opacity: 0.3;
}